h1 {
    color:palevioletred;
    font-size: xx-large;
    font-style:bold;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bolder;
    font-stretch: extra-expanded;
}


table {
    border:solid rgb(3, 1, 111) 2px;
    padding:10px;
    border-collapse: separate;
    border-spacing: 50px 0;
}

td {
    padding:10px 0;
}


td {
padding: 10px 0;
}

ol {
    border:solid rgb(3, 1, 111) 2px;
    padding:30px;
}

footer {
    font-style:bold;
}